<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>HAHA Shop</title>

  <link rel="stylesheet" href="/stylesheets/wor_style.css">
</head>
<body>
  <div id="wrap">
    <div class ="header">
      <% include wor_header.ejs %>
    </div>
    <hr />

    <div class="content">

      <br>
      <h3>Top. List</h3>
      <br>
      <a href="/wor_insert_top">Top. Insert</a>
      <br><br>
      <div id = "box">
        <table>
          <tr>
            <th></th>
            <th>No.</th>
            <th>ID</th>
            <th>상품명</th>
            <th>개수</th>
            <th>할인율</th>
            <th>종류</th>
            <th>가격</th>
            <th></th>
            <th></th>
          </tr>
          <% data.forEach(function(item, index){ %>
          <tr>
            <td><img src="/images/<%= item.image %>" width=100px, height=100px /></td>
            <td><%= item.no %></td>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.count %></td>
            <td><%= item.discount %></td>
            <td><%= item.kind %></td>
            <td><%= item.price %></td>
            <td><a href="/wor_edit_top/<%= item.no %>">수정</a></td>
            <td><a href="/wor_delete_top/<%= item.no %>">삭제</a></td>
          </tr>
          <% }); %>
        </table>
      </div>
      <br>

    </div>

    <hr />
    <div class="footer">
      <% include footer.ejs %>
    </div>
  </div>
</body>
</html>
